body{
font-family:Arial;
background:linear-gradient(135deg,#141e30,#243b55);
margin:0;
padding:0;
color:white;
}

.container{
width:80%;
max-width:700px;
margin:30px auto;
background:#1f2937;
padding:20px;
border-radius:15px;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

h1{
text-align:center;
}

input,select{
width:100%;
padding:12px;
margin:8px 0;
border:none;
border-radius:8px;
}

button{
width:100%;
padding:12px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

.lead{
background:#374151;
padding:15px;
margin-top:10px;
border-radius:10px;
}
